body
{
    margin: 0%;
}
h1
{
    font-family: 'Aboreto', cursive;
    font-size: 60px;
    color: blanchedalmond;
}
.flex-containner
{
display: flex;

}
p
{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: floralwhite;
}
.Button-1
{
   text-decoration: none;
   background-image: linear-gradient(#bf953f,#fcf6ba,#b38728,#fbf5b7,#AA771c);
   padding: 10px 40px;
   color: rgb(24, 45, 51);
   font-weight: 700;
   
}
.thedarkface-love
{
    background-image: url(Images/the\ dark\ face\ of\ love.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0%;
}
.half-width
{
    width: 50%;
    padding: 6%;
}
.half-width img
{
    width: 80%;
    margin: 0%;
}
.Knowing-Section
{
    background-image: url(Images/FullMoon2010.jpg\ \(1\)_prev_ui.png);
    background-repeat: no-repeat;
    position: left;
}
.Middle-con
{
color: #b38728;
}
h3{
    color: wheat;
}
.half-width2
{
    width: 50%;
    padding: 6%;
    margin-bottom: 100px;
}
.half-width2 image
{
    width: 80%;
    margin-bottom: 0px;
}
.book-img
{
    background-image: url(Images/Bookbackgrg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0%;

}
.Camera-img
{
    background-image: url(Images/camera.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0%;
}